<%= content_for :javascripts do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true" %>
  <%= javascript_include_tag "gmaps" %>
  <%= javascript_include_tag "venues" %>
<% end %>

<div class="venue"><div class="icon place-icon"></div>
  <h3><span id="address_name"><%= @meeting.venue.name %></span>, <span id="address"><%= @meeting.venue.address %></span></h3>
</div>
<div id="map"></div>
