<h2>Encontros Presenciais</h2>

<div class="inner">
  <p>
  <table>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.title %></td>
      <td><%= meeting.description %></td>
      <td><%= meeting.date %></td>
      <td><%= link_to 'Exibir', meeting %></td>
      <td><%= link_to 'Editar', edit_meeting_path(meeting) %></td>
      <td><%= link_to 'Deletar', meeting, :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <%= link_to 'Novo encontro', new_meeting_path %>
  </p>
</div>

