<h2>Encontros Presenciais</h2>

<div class="inner">
<p>
 Tentamos sempre organizar encontros bimestrais aos sábados de manhã em alguma empresa/organização que oferaça espaço para cerca de 30 pessoas e próximo de uma estação de trem ou metrô. Se você tem um local apropriado para nossos encontros envie um email para contato arroba gurusp ponto org.
</p>
<p>
  Os encontros tem duração entre 3 e 6 horas e realizamos um coffe-break com a ajuda de um patrocinador.
</p>

<p>
 Nos encontros temos apresentações sobre projetos pessoais, novas tecnologias e experiências profissionais além de outras atividades como mesas redonda e coding dojos. Os encontros são abertos a todos: curiosos, iniciantes ou programadores experientes.
</p>

<p>
  A sumbissão de propostas de palestras é feita através do <%= link_to "Call4Paperz", "http://call4paperz.com" %>.
</p>

<p>
  Se você nunca palestrou o Guru-SP é uma excelente oportunidade para começar.
</p>

<p>
  Veja na lista a seguir o que aconteceu nos nossos últimos encontros.
</p>

<ul class="years">
  <% 2008.upto(@current_year) do |year| %>
    <li><%= link_to_unless_current year, meetings_path(:ano => year) %></li>
  <% end %>
</ul>

<ul class="list">
  <% for meeting in @meetings %>
  <li class="list-item">
    <div class="left">
      <div class="meeting-date"><%= l(meeting.date, :format => :day_month) %></div>
    </div>
    <div class="item">
      <h3><%= link_to meeting.title, meeting_path(meeting) %></h3>
      <div><%= sanitize meeting.description %></div>
    </div>
  </li>
  <% end %>
</ul>

<% if @meetings.empty? %>
  <p class="none">Nenhum encontro em <%= content_tag(:strong, @year) %>.</p>
<% end %>

</div>

