<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @meeting.title %>
</p>

<p>
  <b>Description:</b>
  <%= @meeting.description %>
</p>

<p>
  <b>Date:</b>
  <%= @meeting.date %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
