<h2><%= @meeting.title %></h2>
<div class="inner meeting-body">
  <div class="info">
    <div class="date"><div class="icon date-icon"></div>
      <h3><%= l(@meeting.date) %></h3>
    </div>
    <%= render "venue" if @meeting.venue %>
  </div>

  <p id="notice"><%= notice %></p>

  <h3>Descrição</h3>
  <p>
    <% if @meeting.description.present? %>
      <%= sanitize @meeting.description %>
    <% else %>
      Nenhuma descrição foi adicionada.
    <% end %>
  </p>

  <h3>Patrocinadores</h3>
  <ul class="sponsors">
  <% @meeting.sponsors.each do |sponsor| %>
    <li>
      <%= link_to sponsor.url do %>
        <% if sponsor.logo? %>
          <%= image_tag(sponsor.logo.thumb) %>
        <% else %>
          <%= sponsor.name %>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>

  <p><%= agendatech_link_message @meeting.agendatech_link, @meeting.date %></p>

  <% if @meeting.call4paperz_link.present? %>
    <p>
      <strong>Quer apresentar algo?</strong>
      <%= link_to "Faça sua proposta pelo Call4Paperz", @meeting.call4paperz_link %>
    </p>
  <% end %>

  <h3>Palestras</h3>
  <% if @meeting.talks.present? %>
    <%= render @meeting.talks, :as => :talk %>
  <% else %>
    <p>Nenhuma palestra foi adicionada.</p>
  <% end %>

  <% if @meeting.album.present? %>
    <h3>Fotos</h3>
    <%= render "photos", :photos => @meeting.photos %>
    <%= link_to "Ver slideshow no Picasa", @meeting.slideshow %>
  <% end %>
</div>

