= devise_error_messages!

= form.inputs do
  = form.input :email
  - if defined? edit && edit
    = form.input :github
    = form.input :current_password
  = form.input :password
  = form.input :password_confirmation