<h2>Editando conta</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :github %><br />
  <%= f.text_field :github %></p>

  <p><%= f.label :password %> <i>(deixe em branco se não quiser alterá-lo)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <i>(você precisa fornecer sua senha atual para alteração dos seus dados)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Atualizar" %></p>
<% end %>

<h3>Cancelamento de conta</h3>

<p>Infeliz? <%= link_to "Cancelar conta", registration_path(resource_name), :confirm => "Tem certeza disso?", :method => :delete %>.</p>

<%= link_to "Voltar", :back %>
