<h2>Editando seu Perfil</h2>

<div class="inner">
  <%= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do |form| %>
    <%= form.inputs do %>
      <%= form.input :email, :hint => "Será usado somente para login e não será revelado" %>
      <%= form.input :nickname, :hint => "Como você é conhecido na comunidade" %>
      <%= form.input :name %>
      <%= form.input :github, :hint => "nome do usuário no Github" %>
      <%= form.input :site, :hint => "Seu site ou blog pessoal (URL completa)" %>
      <%= form.input :password, :required => false, :label => "Nova senha", :hint => "deixe em branco se não quiser alterá-la" %>
      <%= form.input :password_confirmation, :label => "Confirmação da nova senha" %>
      <%= form.input :current_password, :required => true, :label => "Senha atual", :hint => "Forneça sua senha atual para alterar seus dados" %>
    <% end %>
    <%= form.actions do %>
      <%= form.action :submit, :as => :button, :label => "Atualizar perfil" %>
    <% end %>
  <% end %>
</div>

<h2>Cancelamento de conta</h2>
<div class="inner">
  <p>Infeliz? <%= link_to "Cancele sua conta", registration_path(resource_name), :confirm => "Tem certeza disso?", :method => :delete %>.</p>
</div>

