<h2><%= talk.title %></h2>
<div class="inner">
  <h4>
    <%= render partial: 'talks/speaker', collection: talk.speakers, spacer_template: 'talks/comma' %>
  </h4>
  <div class="video">
    <%= raw talk.video_link %>
  </div>
  <div class="slides">
    <%= raw talk.slides_link %>
  </div>
  <div class="description">
    <p><%= raw talk.description %></p>
  </div>
</div>