<h2>Membros</h2>

<div class="inner">
<p>O <strong>GURU-SP</strong> existe graças a seus membros. Faça parte dessa lista e ajude-nos a saber um pouco mais sobre você  <%= link_to "registrando-se aqui", new_user_registration_path %>.</p>
<ul class="list">
  <% for user in @users %>
  <li class="user" >
    <div class="left">
      <img class="avatar" src="assets/avatar.png" alt="avatar">
    </div>
    <div class="item">
      <h3><%= user.nickname %></h3>
      <p>
      <strong>nome: </strong><%= link_to user.name  %> <br />
      <strong>github: </strong><%= link_to user.github ,"https://github.com/#{user.github}" %> <br />
      <strong>site: </strong><%= link_to user.site %> <br />
      <% if user == current_user %>
        (<%= link_to "Editar" , edit_user_path(user) %>)
      <% end %>
      </p>
    </div>
  </li>
  <% end %>
</ul>
</div>

