<h2>Alteração de senha de acesso</h2>

<div class="inner">
  <%= semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put } do |form| %>
    <%= form.hidden_field :reset_password_token %>
    <%= form.inputs do %>
      <%= form.input :password, :label => "Nova senha" %>
      <%= form.input :password_confirmation, :label => "Confirme a nova senha" %>
    <% end %>
    <%= form.actions do %>
      <%= form.action :submit, :as => :button, :label => "Alterar minha senha" %>
    <% end %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>

