<h2>Efetuar login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label "Senha" %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label "lembrar-se de mim" %></p>
  <% end -%>

  <p><%= f.submit "Entrar" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
