<!DOCTYPE html>
<html>
  <head>
    <title>Grupo de Usuários Ruby de SP | GURU-SP</title>
    <%= favicon_link_tag "favicon-guru.png", type: "image/png" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= yield :stylesheets %>
    <%= csrf_meta_tag %>
  </head>
  <body id="page-top" class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%= image_tag 'logos/guru_sp_text_white.svg',
              class: 'img-responsive',
              alt: 'Grupo de Usuários Ruby de São Paulo',
              size: '200x33' %>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <%= nav_link 'Encontros', meetings_path, title: "Encontros presenciais do GURU-SP" %>
            <%= nav_link 'Sobre',     about_path   , title: "Saiba mais sobre o GURU-SP" %>
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="hidden">
              <a href="#contact">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
  <%= render "shared/analytics" %>
</html>

