<!DOCTYPE html>
<html>
<head>
  <title>Grupo de Usuários Ruby de SP | GURU-SP</title>
  <%= favicon_link_tag "favicon-guru.png", :type => "image/png" %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to("GURU SP", "/", :class => 'navbar-brand') %>
      </div>

      <div class="navbar-collapse colapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Encontros", meetings_path, :title => "Encontros presenciais do GURU-SP" %></li>
          <li><%= link_to "Sobre", about_path, :title => "Saiba mais sobre o GURU-SP" %></li>
        </ul>
      </div>

    </div>
  </div>
</body>
<%= javascript_include_tag "application" %>
<%= yield :javascripts %>
<%= render "shared/analytics" %>
</html>

