<!DOCTYPE html>
<html>
<head>
  <title>Grupo de Usuários Ruby de SP | GURU-SP</title>
  <%= favicon_link_tag "favicon-guru.png", :type => "image/png" %>
  <%= stylesheet_link_tag "application", :cache => true %>
  <%= javascript_include_tag "application", :cache => false %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <%= image_tag("logo-guru.png", :size => "83x60", :alt => "GURU-SP - logo", :id => "logo") %>
      <h1><a href="/" alt="voltar para página inicial">GURU SP</a></h1>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li><%= link_to "Encontros", meetings_path, :alt => "Encontros presenciais do GURU-SP" %></li>
          <li><%= link_to "Sobre", about_path, :alt => "Saiba mais sobre o GURU-SP" %></li>
          <li><%= link_to "Membros", users_path %></li>
      </div>
      <div id="user-navigation">
        <ul class="wat-cf">
          <% if user_signed_in? %>
          <li><%= link_to t("web-app-theme.profile"), edit_user_registration_path %></a></li>
          <li><%= link_to t("web-app-theme.logout"), destroy_user_session_path %></a></li>
          <% else %>
          <li><%= link_to "Registrar-se", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="main">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        <div class="block" id="block-text">
          <div class="content">
            <%= yield %>
          </div>
        </div>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> GURU SP - Grupo de Usuários Ruby de SP</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
        <%= render "shared/next_meeting" %>
        <%= render "shared/twitter" %>
        <%= render "shared/partners" %>
      </div>
    </div>
  </div>
</body>
</html>

