<!DOCTYPE html>
<html>
<head>
  <title>GURU-SP - Grupo de Usuários Ruby de SP</title>
  <%= stylesheet_link_tag "base", "jquery-ui", "jquery.tipsy", "formtastic", "uniform_default", "style", "override", :cache => true %>
  <%= javascript_include_tag "all", :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <img id="logo" src="/assets/logo-guru.png" alt="Logo do Guru-SP" width="83" height="60"/>
      <h1><a href="/">GURU SP</a></h1>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li><a href="#">Encontros</a></li>
          <li><a href="/sobre" alt="Sobre o Guru-SP">Sobre</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Membros</a></li>
      </div>
      <div id="user-navigation">
        <ul class="wat-cf">
          <% if user_signed_in? %>
          <li><%= link_to(t("web-app-theme.profile", :default => "Profile"), edit_user_registration_path) %></a></li>
          <li><%= link_to(t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path) %></a></li>
          <% else %>
          <li><%= link_to "Registrar-se" , new_user_registration_path %></li>
          <li><%= link_to "Login" , new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="main">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        <div class="block" id="block-text">
          <div class="content">
            <%= yield %>
          </div>
        </div>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> GURU SP - Grupo de Usuários Ruby de SP</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>

